.homepage {
    position: relative;
    .container-fluid {
        padding: 0;
        .menu {
            width: 180px;
            height: 180px;
            background: $footter-cl;
            position: absolute;
            left: 0;
            top: 270px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            transform: translateX(-20px);
            @include transition(all 0.5s);
            z-index: 600;
            .logo {
            }
            .button {
                position: relative;
                width: 42px;
                height: 20px;
                cursor: pointer;
                display: block;
                margin-top: 18px;
                span {
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    background: #fff;
                }
                .span-1 {
                    top: 0;
                }
                .span-2 {
                    top: 50%;
                }
                .span-3 {
                    bottom: 0;
                }
            }
            .menu__hover {
                display: none;
                &-logo {
                    img {
                        margin-left: 50px;
                    }
                }
                &-line {
                    margin-top: 10px;
                    span {
                        display: block;
                        position: relative;
                        @include text(14px, Pb, 22px, #000, uppercase);
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 1px;
                            background: #000;
                            right: 0px;
                            top: 10px;
                            transition: all 0.5s;
                        }
                    }
                }
            }
            &:hover {
                background: #fff;
                transform: translateX(0);
                @include transition(all 0.5s);
                .button {
                    display: none;
                }
                .logo {
                    display: none;
                }
                .menu__hover {
                    display: block;
                    &-line {
                        span {
                            &:after {
                                width: 65%;
                                @include transition(all 1s);
                            }
                        }
                    }
                }
            }
        }
        .slider {
            position: relative;
            &__top {
                position: absolute;
                top: 30px;
                left: 25px;
                z-index: 500;
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            @include text(12px, fmenu, nomal, $text-black-cl, uppercase);
                            padding: 5px 10px;
                            opacity: 1;
                            @include transition(0.5s);
                            .arr-menu {
                                margin-left: 10px;
                                width: 30px;
                                height: 15px;
                                position: relative;
                                display: block;
                                transition: all 0.5s;
                                left: 0;
                                &:hover {
                                    left: 10px;
                                }
                            }
                            &:hover {
                                opacity: 0.5;
                                transition: (opacity 0.5s);
                            }
                        }
                    }
                }
            }
            &__list {
                width: 100%;
                height: 100%;
                &-item {
                    position: relative;
                    width: 100%;
                    height: 850px;
                    overflow: hidden;
                    .slider-img {
                        min-width: 100%;
                        min-height: 100%;
                        @include mid();
                        object-fit: cover;
                    }
                    .slider-text {
                        text-align: center;
                        position: absolute;
                        top: 49%;
                        left: 50%;
                        @include transform(translate(-50%, -49%));
                        h2 {
                            @include text(80px, evi, nomal, $white-cl, uppercase);
                            margin-bottom: 30px;
                            letter-spacing: 3px;
                            position: relative;
                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                height: 1px;
                                width: 820px;
                                background: #fff;
                                left: 50%;
                                top: 100%;
                                @include transform(translateX(-50%));
                            }
                        }
                        p {
                            @include text(12px, pb, nomal, $white-cl, uppercase);
                            letter-spacing: 2px;
                        }
                        .btn-slide {
                            position: relative;
                            z-index: 99;
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 0%;
                                width: 100%;
                                border-radius: 5px;
                                transition: all 0.3s;
                                z-index: -1;
                            }
                            &:hover::before {
                                height: 100%;
                                background: #132539;
                            }
                        }
                    }
                }
            }
            &__bot {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
                .line {
                    margin-bottom: 10px;
                }
                .mouse {
                    i {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: #333;
                        position: absolute;
                        left: 49%;
                        transform: translateX(-49%);
                        top: 66%;
                        @include animation(scrollmose 1s ease both infinite);
                    }
                }
                p {
                    @include text(12px, pb, 22px, $black-cl, uppercase);
                    margin-top: 20px;
                }
            }
            .btn-arr {
                position: absolute;
                right: 0;
                bottom: 0;
                display: flex;
                img {
                    width: 50px;
                    height: 100%;
                }
                .prev, .next {
                    background: #000;
                    cursor: pointer;
                    @include transition(all 0.4s);
                    &:hover {
                        background: #ddd;
                    }
                }
            }
        }
        .main__content {
            margin-top: 160px;
            .container {
                .row {
                    .content-item {
                        .content {
                            font-size: 12px;
                            font-family: arial;
                            line-height: 40px;
                            color: #000;
                            padding-right: 120px;
                            b {
                                font-weight: bold;
                            }
                        }
                        .work {
                            margin-top: 90px;
                            h3 {
                                @include text(12px, pb, 40px, black, uppercase);
                                padding: 10px 0;
                            }
                            .image {
                                position: relative;
                                overflow: hidden;
                                transition: transform 0.8s ease;
                                &__work {
                                    position: absolute;
                                    margin: auto;
                                    width: 80%;
                                    height: 140px;
                                    text-align: center;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    z-index: 300;
                                    display: none;
                                    .desc {
                                        margin-top: 20px;
                                        a {
                                            @include text(12px, arial, 26px, #fff, none);
                                        }
                                    }
                                    .btn-more {
                                        margin-top: 20px;
                                        img {
                                            margin-left: 10px;
                                        }
                                    }
                                }
                                .img {
                                    .img-show {
                                        width: 100%;
                                        height: auto;
                                        display: block;
                                        transform: scale(1);
                                        transition: all 1s;
                                    }
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    margin: auto;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
                                    opacity: 0;
                                    transform: scale(0.8);
                                    transition: all 1.2s;
                                    z-index: 200;
                                }
                                &:hover::before {
                                    background: rgba(20, 75, 100, 0.9);
                                    opacity: 1;
                                    transform: scale(1.3);
                                    transition: transform 1.2s;
                                }
                                &:hover {
                                    .img-show {
                                        transform: scale(1.2);
                                        transition: all 1s;
                                    }
                                }
                                &:hover {
                                    .image__work {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    .box-2 {
                        .work {
                            margin-top: 0;
                            h3 {
                                padding: 0 0 20px 0;
                            }
                            .image {
                                &:hover::before {
                                    background: rgba(120, 88, 28, 0.9);
                                }
                            }
                        }
                    }
                    .box-3 {
                        .work {
                            margin-top: 50px;
                        }
                    }
                    .box-4 {
                        z-index: 200;
                        .work {
                            margin-top: 50px;
                            h3 {
                                padding: 0 0 10px 0;
                            }
                        }
                    }
                    .box-5 {
                        z-index: 200;
                        .work {
                            margin-top: 50px;
                            h3 {
                                padding: 0 0 10px 0;
                            }
                            .introduce {
                                margin-top: 65px;
                                .intro-text {
                                    @include text(18px, blic, 40px, #fff, none);
                                    text-align: right;
                                    padding-left: 100px;
                                    display: block;
                                    strong {
                                        @include text(18px, blic, 40px, #b99746, none);
                                        
                                    }
                                }
                                i {
                                    img {
                                        position: absolute;
                                        right: -35px;
                                        bottom: -36px;
                                        z-index: -1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .blue-cl {
            position: absolute;
            width: 100%;
            height: 550px;
            background: #132539;
            left: 0;
            bottom: -150px;
        }
    }
}

/*mobile*/

@include mobile {
    .homepage {
        .container-fluid {
            .menu {
                display: none;
            }
            .slider {
                &__top {
                    display: none;
                }
                &__list {
                    width: 100%;
                    height: 223px;
                    &-item {
                        width: 100%;
                        height: 223px;
                        overflow: hidden;
                        position: relative;
                    }
                    .slider-text {
                        h2 {
                            font-size: 30px;
                            margin-bottom: 15px;
                            &:after {
                                width: 120%;
                            }
                        }
                        p {
                            letter-spacing: 0;
                            font-family: 'fp';
                        }
                        .btn-slide {
                            display: none;
                        }
                    }
                }
                
                &__bot {
                    display: none;
                }
                .btn-arr {
                    display: none;
                }
            }
            .main__content {
                margin-top: 48px;
                .container {
                    .row {
                        .content-item {
                            .content {
                                margin-top: 20px;
                               text-align: center;
                               padding-right: 0;
                            }
                            .work {
                                margin-top: 60px;
                                .image {
                                    &__work {
                                        a {
                                            img {
                                                display: none;
                                            }
                                        }
                                        .desc {
                                            display: none;
                                        }
                                        .btn-more {
                                            display: none;
                                        }
                                    }
                                    &::before {
                                        display: none;
                                    }
                                    &:hover::before {
                                        display: none;
                                    }
                                }
                                .introduce {
                                   .intro-text {
                                       text-align: center;
                                       padding: 0;
                                   }
                                }
                            }
                        }
                        .box-2,
                        .box-3,
                        .box-4,
                        .box-5 {
                            .work {
                                margin-top: 20px;
                                h3 {
                                    padding: 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
